<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,896},{166,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,55}}</string>
                <key>sourceSize</key>
                <string>{166,55}</string>
            </dict>
            <key>back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,844},{166,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,55}}</string>
                <key>sourceSize</key>
                <string>{166,55}</string>
            </dict>
            <key>back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,564},{166,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,55}}</string>
                <key>sourceSize</key>
                <string>{166,55}</string>
            </dict>
            <key>best.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1261},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>button_close_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1197},{46,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1039},{52,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{52,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_jump1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1039},{128,128}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{128,128}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>button_jump1_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1149},{108,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{108,108}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>button_jump2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{128,128}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{128,128}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>button_jump2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1039},{108,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{108,108}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>button_number_small.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1273},{82,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{82,76}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>button_restart_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1169},{50,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{50,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_restart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1145},{50,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{50,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_restart_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1093},{50,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{50,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_sound_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1221},{38,52}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{38,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_sound_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,788},{60,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_sound_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,732},{60,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,953},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{36,30}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>coin_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1245},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>distance_frame.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1133},{134,39}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{134,39}}</string>
                <key>sourceSize</key>
                <string>{140,43}</string>
            </dict>
            <key>game_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,972},{350,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,180}}</string>
                <key>sourceSize</key>
                <string>{350,180}</string>
            </dict>
            <key>game_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,724},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>game_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1259},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>game_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1154},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>gameplay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{425,393}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,393}}</string>
                <key>sourceSize</key>
                <string>{425,395}</string>
            </dict>
            <key>gc_frame.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1092},{134,39}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{134,39}}</string>
                <key>sourceSize</key>
                <string>{140,43}</string>
            </dict>
            <key>highscore_frame.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,953},{134,39}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{134,39}}</string>
                <key>sourceSize</key>
                <string>{140,43}</string>
            </dict>
            <key>main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1268},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>popup.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,644},{352,326}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,43},{352,326}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>popup_button.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1012},{204,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{204,78}}</string>
                <key>sourceSize</key>
                <string>{218,98}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,396},{166,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,55}}</string>
                <key>sourceSize</key>
                <string>{166,55}</string>
            </dict>
            <key>share_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,228},{166,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,55}}</string>
                <key>sourceSize</key>
                <string>{166,55}</string>
            </dict>
            <key>share_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,60},{166,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,55}}</string>
                <key>sourceSize</key>
                <string>{166,55}</string>
            </dict>
            <key>time_frame.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,644},{176,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{176,78}}</string>
                <key>sourceSize</key>
                <string>{190,88}</string>
            </dict>
            <key>time_frame_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1169},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>top.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1092},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>weixin_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1169},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:744f588fd998dbcdf7c3b9f1fba42549:7265ab8612e9b2eefe9b40b37387c1df:93ec408c26f59393f05c7209b94712bf$</string>
            <key>textureFileName</key>
            <string>gameui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
