<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_radar_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{136,144}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{136,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>load_radar_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,459},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>logo_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>text_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,345},{191,49}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,7},{191,49}}</string>
                <key>sourceSize</key>
                <string>{317,63}</string>
            </dict>
            <key>text_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,140},{203,49}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,7},{203,49}}</string>
                <key>sourceSize</key>
                <string>{317,63}</string>
            </dict>
            <key>text_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,140},{215,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,7},{215,49}}</string>
                <key>sourceSize</key>
                <string>{317,63}</string>
            </dict>
            <key>text_logo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{317,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,63}}</string>
                <key>sourceSize</key>
                <string>{317,63}</string>
            </dict>
            <key>text_logo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,140},{317,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,63}}</string>
                <key>sourceSize</key>
                <string>{317,63}</string>
            </dict>
            <key>text_logo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{317,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,63}}</string>
                <key>sourceSize</key>
                <string>{317,63}</string>
            </dict>
            <key>text_logo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{317,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,63}}</string>
                <key>sourceSize</key>
                <string>{317,63}</string>
            </dict>
            <key>text_logo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,63}}</string>
                <key>sourceSize</key>
                <string>{317,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3b8fab6175087e9c5af3348e4879aad:624e707e88d42fcf5ce6aad5f66548c7:0ca1ddd15ee9ba1bf67678b81c3829e4$</string>
            <key>textureFileName</key>
            <string>loading.pvr.ccz</string>
        </dict>
    </dict>
</plist>
