<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S_Birdie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,217},{70,59}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{70,59}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>S_Birdie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,145},{70,49}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{70,49}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>S_Birdie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,55},{88,55}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{88,55}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>S_Comet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,51}}</string>
                <key>sourceSize</key>
                <string>{205,51}</string>
            </dict>
            <key>S_Heli01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,387},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>S_Heli02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,321},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>S_Heli03.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,382},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>S_Heli04.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,382},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>S_Plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,278},{102,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,64}}</string>
                <key>sourceSize</key>
                <string>{102,64}</string>
            </dict>
            <key>tom_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,230},{101,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,120}}</string>
                <key>sourceSize</key>
                <string>{101,120}</string>
            </dict>
            <key>tom_miss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{101,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,147}}</string>
                <key>sourceSize</key>
                <string>{101,147}</string>
            </dict>
            <key>tom_miss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{101,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,145}}</string>
                <key>sourceSize</key>
                <string>{101,147}</string>
            </dict>
            <key>tom_miss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{101,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,145}}</string>
                <key>sourceSize</key>
                <string>{101,147}</string>
            </dict>
            <key>tom_res_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,105},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>tom_res_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{129,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,127}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>tom_res_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,105},{123,127}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{123,127}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>tom_res_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{129,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,127}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>tom_standing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{89,115}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,115}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
            <key>tom_standing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{93,115}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{93,115}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
            <key>tom_standing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,236},{83,117}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,117}}</string>
                <key>sourceSize</key>
                <string>{97,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6f1fd86335ed60971135b405db484f2:8ae919b7250099c53e85869439dc94d1:c7f724d6c30314d5f0ba98940d931d6f$</string>
            <key>textureFileName</key>
            <string>role.pvr.ccz</string>
        </dict>
    </dict>
</plist>
